*{
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  font-family:Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
  
}

.container{
    width: 100%;
    height: 100vh;
    object-fit: cover;
   
    background-position:center;
    background-size: cover;
    background-image: /*linear-gradient(rgba(22, 52, 22, 0.8), rgba(1, 25, 1, 0.8))*/ url(images/bckg.png);
    box-sizing: border-box;
}


.navbar{
 height: 12%;
 display: flex;
 align-items: center;
 margin-left: 10%;
}



nav {
  flex: 1;
  text-align: left;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 20px;
}

nav ul li a{
  text-decoration: none;
  color: #F4F9E9;
  font-size:18px;
}
nav ul li a:hover{
  color:#767676;
}

.row{
    display: flex;
    height:80vh;
    align-items: center;
    padding-left: 5%;
    padding-right:5%;
}
.col{
  flex-basis: 50%;
}

.col h1{
  color:#F4F9E9;
  font-size: 70px;
  padding-left: 6%;
}
.wrapper{
  display: inline-flex;
}
.wrapper .static-txt{
  color: #F4F9E9;
  font-size: 45px;
  height: 60px;
  margin-top: 10px;
  font-weight: 500;
  margin-left: 25px;
  padding-left: 15px;
}

.wrapper .dynamic-txts{
  margin-left: 25px;
  height: 60px;
  line-height: 72px;
  overflow: hidden;
}

.dynamic-txts li{
  color: #179597;
  list-style: none;
  font-size: 45px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 7.5s steps(5) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
  
}
.dynamic-txts li span{
  position: relative;
}


.dynamic-txts li span::after{
  content:"";
  position: absolute;
  left: 0;
  height: 120%;
  width: 100%;
  background: #191C19;
  border-left: 2px solid #179597; 
  animation: typing 1.5s steps(14) infinite;
}
@keyframes typing {
  100%{
    left: 100%;
    margin: 0 -35px 0 35px;
  }
  
}